:root {
    --clr-bg: #d6e1ff;
    --clr-prcd-btn: #382ae1;
    --clr-text: #223259;

    --fs-h1: 2.5rem;
    --fs-p: 1.25rem;
    --fs-btn: 1.5rem;

    --fw-bold: 700;

    --ff-primary: 'Work Sans', sans-serif;
}

@media (min-width: 600px) {
    :root {
        --fs-h1: 2rem;
        --fs-p: 0.9rem;
        --fs-btn: 1.25rem;
    }

    img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
}

body {
    background: var(--clr-bg);
    color: var(--clr-text);
    display: flex;
    flex-direction: row;
    font-family: var(--ff-primary);
    justify-content: center;
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    font-size: var(--fs-btn);
    font-weight: var(--fw-bold);
    /*max-width: 80%;*/
}

button:hover {
    opacity: 0.7;
}

h1 { 
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    margin: 0;
}
p { font-size: var(--fs-p); }

.main-container > img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.main-container {
    background: #fff;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.blurb {
    width: 80%;
    line-height: 1.5em;
}

.summary-container {
    display: flex;
    column-gap: 2em;
    justify-content: center;
    width: 80%;
    background: rgba(128, 128, 128, 0.103);
    border-radius: 20px;
    align-items: center;
    padding: 0.5em 0;
}

.summary-container > p {
    padding: 1em 0;
}

.summary-container > img {
    width: 18%;
}

.circle {
    background: orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.proceed-btn {
    background: var(--clr-prcd-btn);
    border-radius: 20px;
    color: white;
    padding: 1em;
    width: 80%;
}

.cancel-btn {
    background: none;
    margin-bottom: 2em;
}